   <header>
   <img src="{{ asset('bundles/acmedemo/images/section1.jpg') }}" style="width:60%;margin:0 auto" />   
   </header>
   <section>   
   <img src="{{ asset('bundles/acmedemo/images/section2.jpg') }}" style="width:60%;margin:0 auto" />   
   </section>
   <section>   
   <img src="{{ asset('bundles/acmedemo/images/section3.jpg') }}" style="width:60%;margin:0 auto" />   
   </section>
   <section>   
   <img src="{{ asset('bundles/acmedemo/images/section4.jpg') }}" style="width:60%;margin:0 auto" />   
   </section>
   <section>
   <img src="{{ asset('bundles/acmedemo/images/section5.jpg') }}" style="width:60%;margin:0 auto" />      
   </section>
   <footer>
   <img src="{{ asset('bundles/acmedemo/images/section6.jpg') }}" style="width:60%;margin:0 auto" />   
   </footer>
